html {
    height: 100%;
    width: 100%;
  }
  
  #page-head{
    background-color: #12284B;
  }

  #player-table{
    background-color: whitesmoke;
  }
  
  #player-table-header{
    background-color: #12284B;
  }
  
  .hiddenRow {
      padding: 0 !important;
  }